@tailwind base;
@tailwind components;
@tailwind utilities;

.portslat{
    font-family: Arial, Helvetica, sans-serif;
}

.greatvibes{
    font-family: 'Great Vibes', cursive;
}

.vibes{
    font-family: Arial, Helvetica, sans-serif;
}

.nerkoone{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.nerko{
    font-family: Arial, Helvetica, sans-serif;
}

.raleway{
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

.video-container video {
    pointer-events: none;
  }
  
  .video-container video::-webkit-media-controls {
    display: none !important;
  }
  
  .video-container video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  